<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Weather Info Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather-App Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-text-center">
    <ion-card *ngFor="let info of weatherInfo">
      <ion-card-content>
        <ion-card-title>Location: {{cityName}}</ion-card-title>
        <br>
        <ion-card-subtitle>Temperature: {{ kelvinToCelsius(info.main?.temp) }}&deg;C</ion-card-subtitle>
        <ion-card-subtitle>Feels Like: {{ kelvinToCelsius(info.main?.feels_like) }}&deg;C</ion-card-subtitle>
        <ion-card-subtitle>Low: {{  kelvinToCelsius(info.main?.temp_min) }}&deg;C</ion-card-subtitle>
        <ion-card-subtitle>High: {{ kelvinToCelsius(info.main?.temp_max) }}&deg;C</ion-card-subtitle>
        <ion-card-subtitle>Pressure: {{ info.main?.pressure }} hPa</ion-card-subtitle>
        <ion-card-subtitle>Humidity: {{ info.main?.humidity }}%</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="block" (click)="setCurrentLocation()">Save As Current Location</ion-button>
  <ion-button expand="block" (click)="setFavouriteLocation()">Save As Favourite Location</ion-button>
</ion-content>
