<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Weather Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-text-center">
    <ion-card *ngFor="let info of weatherInfo" style="background-color: #abcdef; border-radius: 10px">
      <ion-card-content>
        <ion-card-title >Location: {{cityName}}</ion-card-title>
        <br>
        <img [src]="'http://openweathermap.org/img/wn/' + info.weather[0].icon + '.png'" alt="Weather Icon">
        <br>
        <ion-card-title>{{ kelvinToCelsius(info.main.temp) }}&deg;C</ion-card-title>
        <br>
        <div style="background-color: white; border-radius: 10px; padding: 10px;">
          <ion-card-subtitle style="color:black">Description: {{ info.weather[0].main }}</ion-card-subtitle>
          <ion-card-subtitle style="color:black">Feels Like: {{ kelvinToCelsius(info.main?.feels_like) }}&deg;C</ion-card-subtitle>
          <ion-card-subtitle style="color:black">Low: {{  kelvinToCelsius(info.main?.temp_min) }}&deg;C</ion-card-subtitle>
          <ion-card-subtitle style="color:black">High: {{ kelvinToCelsius(info.main?.temp_max) }}&deg;C</ion-card-subtitle>
          <ion-card-subtitle style="color:black">Pressure: {{ info.main?.pressure }} hPa</ion-card-subtitle>
          <ion-card-subtitle style="color:black">Humidity: {{ info.main?.humidity }}%</ion-card-subtitle>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container" class="ion-text-center">
    <ion-card *ngFor="let forecast of weatherForecast" style="background-color: #d7d7d7; border-color: rgb(189, 189, 189); border-width: 2px; border-style: ridge; margin: 10px; border-radius: 10px;">
      <ion-card-content>
        <ion-row>
          <ion-col size="4">Tomorrow</ion-col>
          <ion-col size="4">{{ formatDate(forecast.list[12].dt) }}</ion-col>
          <ion-col size="4">{{ formatDate(forecast.list[20].dt) }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">{{ formatTime(forecast.list[4].dt) }}</ion-col>
          <ion-col size="4">{{ formatTime(forecast.list[12].dt) }}</ion-col>
          <ion-col size="4">{{ formatTime(forecast.list[20].dt) }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"><img [src]="'http://openweathermap.org/img/wn/' + forecast.list[4].weather[0].icon + '.png'" alt="Weather Icon"></ion-col>
          <ion-col size="4"><img [src]="'http://openweathermap.org/img/wn/' + forecast.list[12].weather[0].icon + '.png'" alt="Weather Icon"></ion-col>
          <ion-col size="4"><img [src]="'http://openweathermap.org/img/wn/' + forecast.list[20].weather[0].icon + '.png'" alt="Weather Icon"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">{{ kelvinToCelsius(forecast.list[4].main.temp) }}&deg;C</ion-col>
          <ion-col size="4">{{ kelvinToCelsius(forecast.list[12].main.temp) }}&deg;C</ion-col>
          <ion-col size="4">{{ kelvinToCelsius(forecast.list[20].main.temp) }}&deg;C</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <br>
  <div class="ion-text-center" style="border-color: black; border-width: 3px; border-style: double; padding:5px; border-radius: 10px; margin: 10px">
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black; margin:10px;" (click)="setCurrentLocation()">Save As Current Location</ion-button>
    <br>
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black; margin:10px;" (click)="setFavouriteLocation()">Save As Favourite Location</ion-button>
  </div>
</ion-content>
