<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favourites</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let info of weatherInfo" style="background-color: #abcdef; border-radius: 10px">
    <ion-card-content>
      <ion-card-title>{{ info.city }}</ion-card-title>
      <br>
      <img [src]="'http://openweathermap.org/img/wn/' + info.weather.weather[0].icon + '.png'" alt="Weather Icon">
      <br>
      <ion-card-title>{{ kelvinToCelsius(info.weather.main?.temp) }}°C</ion-card-title>
      <br>
      <div style="background-color: white; border-radius: 10px; padding: 10px;">
        <ion-card-subtitle style="color:black">Description: {{ info.weather.weather[0].main }}</ion-card-subtitle>
        <ion-card-subtitle style="color:black">Feels Like: {{ kelvinToCelsius(info.weather.main?.feels_like) }}°C</ion-card-subtitle>
        <ion-card-subtitle style="color:black">Low: {{ kelvinToCelsius(info.weather.main?.temp_min) }}°C</ion-card-subtitle>
        <ion-card-subtitle style="color:black">High: {{ kelvinToCelsius(info.weather.main?.temp_max) }}°C</ion-card-subtitle>
        <ion-card-subtitle style="color:black">Pressure: {{ info.weather.main?.pressure }} hPa</ion-card-subtitle>
        <ion-card-subtitle style="color:black">Humidity: {{ info.weather.main?.humidity }}%</ion-card-subtitle>
      </div>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <div class="ion-text-center" style="border-color: black; border-width: 3px; border-style: double; padding:5px; border-radius: 10px; margin: 10px">
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black; margin:10px;" [routerLink]="['/search']">Add New Favourite</ion-button>
    <br>
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black; margin:10px;" (click)="clearLocalStorage()">Clear Favourites</ion-button>
  </div>
</ion-content>
