<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>
  <br><br><br><br>
  <ion-title style="padding:10px; border: 5px; border-width: 1px; border-radius: 15px; border-style: dashed; border-color: black; margin: 20px;">Search For Weather</ion-title>
  <br><br><br><br><br>
  <div id="container" class="ion-text-center" style="border-color: black; border-width: 5px; border-style: double; border-radius: 10px; margin: 20px; padding: 20px;">
    <ion-item style="background-color:whitesmoke; border-radius: 20px; border-style: ridge; border-color: black;">
      <ion-label position="floating">Enter City Name</ion-label>
      <ion-input type="text" [(ngModel)]="cityName"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black; margin:10px;" (click)="searchCity()">Search</ion-button>
  </div>
</ion-content>
