<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather-App Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title style="padding: 20px; border: 2px; border-radius: 5px; border-style:ridge; margin: 20px;">Weather App</ion-title>

  <div *ngIf="weatherInfo" style="background-color: #abcdef; border-radius: 10px; margin: 30px; padding: 20px;">
    <ion-title >Location: {{cityName}}</ion-title>
    <br>
    <img *ngIf="weatherInfo?.weather && weatherInfo?.weather[0]?.icon" [src]="'http://openweathermap.org/img/wn/' + weatherInfo.weather[0].icon + '.png'" alt="Weather Icon">
    <br>
    <ion-title>{{ kelvinToCelsius(weatherInfo.main.temp) }}&deg;C</ion-title>
    <br>
  </div>
  <div style="border-color: black; border-width: 5px; border-style: double; padding:30px; border-radius: 10px; margin: 30px">
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black;" [routerLink]="['/search']">Search</ion-button>
    <br>
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black;" [routerLink]="['/favourites']">Favourites</ion-button>
    <br>
    <ion-button color="null" style="background-color: #abcdef; border-radius: 5px; color: black;" [routerLink]="['/current-location']">Current Location</ion-button>
  </div>

</ion-content>
 