<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather-App Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather-App Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/search']">Search</ion-button>
    <br>
    <ion-button [routerLink]="['/favourites']">Favourites</ion-button>
    <br>
    <ion-button [routerLink]="['/current-location']">Current Location</ion-button>
    <br>
    <ion-button [routerLink]="['/weather']">Weather</ion-button>
  </div>
</ion-content>
